header {
  background-color: grey;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 12px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: aquamarine;
  text-decoration: underline;
}
#banner {
  width: 100%;
}

.tituloPrincipal {
  padding-left: 20px;
}

.principal {
  padding: 30px;
}

.tituloCentralizado {
  text-align: center;
}
p {
  text-align: center;
}

#paragro2 {
  font-size: 20px;
}

em strong {
  color: #ff0000;
}

.item {
  font-style: italic;
}

.beneficios {
  color: white;
  background: url("./assets/bg.jpg");
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

#barbudo {
  width: 50%;
}

footer {
  text-align: center;
  background: url("./assets/bg.jpg");
}

.copyright {
  color: white;
  font-size: 13px;
}

.banner {
  width: 100%;
}

.tituloPrincipal {
  text-align: center;
  font-size: 2em;
  margin: 0 0 1em;
  clear: left;
}

.principal p {
  margin: 0 0 1em;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}
